<div class='row'>
  <div class='col s12 m8'>
    <h3>{{story.title}}</h3>
    <div class='card story'>
      <div class='card-content'>
        <span class='card-title'>{{formatDate story.date 'MMMM Do YYYY'}}</span>
        {{{story.body}}}
      </div>
    </div>
    {{#if story.allowComments}}
      <div class='card'>
        <div class='card-content'>
          <span class='card-title'>Comments</span>
          {{#if user}}
            <form action='/stories/comment/{{story._id}}' method='post'>
              <div class='input-field'>
                <textarea
                  name='commentBody'
                  class='materialize-textarea'
                ></textarea>
                <label for='commentbody'>Add Comment</label>
              </div>
              <input type='submit' value='Submit' class='btn' />
            </form>
          {{else}}
            <p>Please <a href='/auth/google'>login</a> to leave a comment</p>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class='col s12 m4'>
    <div class='card center-align'>
      <div class='card-content'>
        <sapn class='card-title'>{{story.creator.firstName}}
          {{story.creator.lastName}}</sapn>
        <img
          src='{{story.creator.image}}'
          alt='user avatar'
          class='circle responsive-img'
        />
      </div>
      <div class='card-action center-align'>
        <a href='/stories/user/{{story.creator.id}}'>More From
          {{story.creator.firstName}}</a>
      </div>
    </div>
  </div>
</div>